{{ define "main" }}
  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ lower .Title }}</h1>
  </header>
  {{ if .Content }}
    <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
      <div class="min-w-0 min-h-0 max-w-prose grow">
        {{ .Content | emojify }}
      </div>
    </section>
  {{ end }}
  {{ $max := 0 }}
  {{ range .Data.Terms }}
    {{ if gt .Count $max }}
      {{ $max = .Count }}
    {{ end }}
  {{ end }}
  <section class="flex flex-wrap -mx-2 overflow-hidden">
    <div class="section tags pt-8 ml-4 mr-4">
      <ul class="image-tags">
    {{ range .Data.Terms }}
        <li><a href="{{ .Page.RelPermalink }}" class="tag-opacity-{{ math.Round (div (mul .Count 20) $max) }}" title="View all images tagged with {{ .Page.Title }}">{{.Page.Title}}&nbsp;({{.Count}})</a></li>
    {{ end }}
    </ul>
  </div>
  </section>
{{ end }}
