<article class="relative flex flex-col max-w-prose items-center justify-between hover:bg-primary-100">
  {{- $images := $.Resources.ByType "image" }}
  {{- $thumbnail := $images.GetMatch "*thumb*" }}
  {{- $feature := $images.GetMatch "*feature*" | default $thumbnail }}
  {{- with $feature }}
  <!-- TODO: I have no idea what this div element is even for lol but it'll screw with the UI if it appears.-->
  <!-- Doesn't look like it appears anywhere on the site currently but should defs go over it if it's ever used -->
    <div class="flex-none pr-4 sm:pr-6 ">
      <a
        href="{{ with $.Params.externalUrl }}
          {{ . }}
        {{ else }}
          {{ $.RelPermalink }}
        {{ end }}"
      >
        <img
          class="w-24 rounded-md sm:w-40"
          srcset="
          {{- (.Fill "160x120 smart").RelPermalink }} 160w,
          {{- (.Fill "320x240 smart").RelPermalink }} 2x"
          src="{{ (.Fill "160x120 smart").RelPermalink }}"
        />
      </a>
    </div>
  {{- end }}
    <h3 class="flex items-center text-xl font-semibold">
      {{ with .Params.externalUrl }}
        <a
          class="inset-0 absolute z-10 focus:bg-transparent"
          href="{{ . }}"
          target="_blank"
          rel="external"
        ></a>
        <div>
          <span
            class="text-center text-neutral-800 decoration-primary-500 dark:text-neutral"
            >{{ $.Title | emojify }}</span
          >
          <span
            class="text-xs align-top cursor-default text-neutral-400 dark:text-neutral-500"
            title="{{ i18n "list.externalurl_title" }}"
          >
            <span class="rtl:hidden">&#8599;</span>
            <span class="ltr:hidden">&#8598;</span>
          </span>
        </div>
      {{ else }}
        <a 
          class="inset-0 absolute z-10 focus:bg-transparent"
          href="{{ .RelPermalink }}"
        ></a>
        <span
          class="text-center text-neutral-800 decoration-primary-500 dark:text-neutral"
          >{{ .Title | emojify }}</span
        >
      {{ end }}
      {{ if and .Draft .Site.Params.article.showDraftLabel }}
        <div class=" ltr:ml-2 rtl:mr-2">
          {{ partial "badge.html" (i18n "article.draft" | emojify) }}
        </div>
      {{ end }}
      {{ if templates.Exists "partials/extend-article-link.html" }}
        {{ partial "extend-article-link.html" . }}
      {{ end }}
    </h3>
    {{ partial "article-meta.html" . }}
    {{ if .Params.showSummary | default (.Site.Params.list.showSummary | default false) }}
      <div class="py-1 prose dark:prose-invert">
        {{ .Summary | emojify }}
      </div>
    {{ end }}
</article>
